.ts-dropdown,
.ts-control,
.ts-control input {
  font-size: 1rem;
  line-height: 1.5rem;
}

.ts-dropdown {
  margin: 0;

  [data-selectable] .highlight {
    background: #ffe8d5;
    border-radius: 1px;
  }
}

.ts-control {
  padding: 0.5rem 0.75rem;
  /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); */
  border: none;

  &>input {
    line-height: 1.5rem !important;
  }

  &::after {
    content: '';
    background-image: url('chevron-down-solid.svg');
    background-size: 1rem 1rem;
    height: 1rem;
    width: 1rem;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}


.ts-dropdown .active {
  background-color: #fff6ef;
  color: #4b5563;
}
